html, body{
    width: 100%;
    margin: 0px;
}

.subtit{
    background-color: rgb(226, 40, 49);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 400px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    background-size: cover;
}

.head{
    margin:30px auto;
    padding:20px;
    height: 200px;
    margin-right: 50px;
    
}

.back-head{
    display: flex;
}

.pikachu{
    height: 200px;
    margin-top: 70px;
    margin-left: 70px;
    width: 200px;
    
}
.ash {
    height: 250px;
    margin-top: 70px;
    margin-right: 70px;
    width: 200px;
}

.subtit p{
    text-align: center;
    font-size: 45px;
    font-family: fantasy;
    font-weight: bold;
    margin: 20px;
    margin-top: 0px;
    color: rgb(255, 255, 255);

    
}

.contenedor1{
    background-color: rgb(0, 114, 187);
    margin-left: 10px;
    margin-bottom: 10px;
    border-bottom-left-radius: 50px;
    height: 500px;
    width: 50%;
}


.contenedorPoke{
    background-color: aliceblue;
    height: 250px;
    width: 40%;
    margin: 0px auto;
    margin-top: 30px;
    border-radius: 50px;


}

.contenedor2{
    background-color: rgb(252, 202, 70);
    margin-right: 10px;
    margin-bottom: 10px;
    border-bottom-right-radius: 50px;
    height: 500px;
    width: 50%;

}

.contenedores {
    display: flex;
  }
  
  .contenedores div {
    flex: 1;
  }

  .img{
      height: 200px;
      width: 200px;
      margin: 0px auto;
      display: block;
  }

  .input{
    display: block;
    margin: 0px auto;
    margin-top: 1cm;
    height: 20px;
    width: 200px;
    margin-top: 80px;
  }

  .button{
    display: block;
    margin: 0px auto;
    margin-top: 1cm;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: aliceblue;
    font-weight: bold;
    background-color: rgb(226, 40, 49);
  }

  .request{
      display: flex;
  }

  .contenedor2 p{
      font-weight: bold;
      font-size: 15px;
  }

  .nomtip{
      display: flex;
      margin: 0px auto;
  }

  .tip{
      margin-left: 30px;
  }




 
